  .button1{ 
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family:courier;
  }  
  .button1:hover {background-color: #1464FF}
  
#header {
    background-color:#00bbff;
    color:white;
    text-align:left;
    padding:20px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:200px;
    float:left;
    padding:30px;	     
    font-family:courier;
}
#nav ul{
margin:0px;
padding:0px;
}
#nav ul li{
list-style:none;
}
#nav ul li a{
background:#eeeeee;
color:black;
display:block;
width:180px;
padding:10px;
}

#nav a:hover { 
color:#1464FF;
}

#section {
    height:200px;
    width:200px;
    float:left;
    padding:5px;	
    font-family:courier;
}


#capturebar ul {
    list-style-type: none;
    color:white;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}
#capturebar li {
     float: left;
}
#capturebar li a{
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
#capturebar li a:hover {
     background-color:#6fff6a;
}

#absorptionbar ul {
    list-style-type: none;
    color:white;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}
#absorptionbar li {
     float: left;
}
#absorptionbar li a{
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
#absorptionbar li a:hover {
     background-color:#6fff6a;
}
#footer {
    background-color:transaprent
    color:black;
    clear:both;
    text-align:right;
    padding:150px;
    font-family:courier;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}