 .cssload-loader-inner {
		bottom: 300px;
		height: 113px;
		left: 300px;
		margin: auto;
		position: absolute;
		right: 50px;
		top: 10px;
		width: 188px;
}

.cssload-cssload-loader-line-wrap-wrap {
		animation: cssload-spin 1600ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-o-animation: cssload-spin 1600ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-ms-animation: cssload-spin 1600ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-webkit-animation: cssload-spin 1600ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-moz-animation: cssload-spin 1600ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 94px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		width: 188px;
}
.cssload-loader-line-wrap {
		border: 8px solid transparent;
		border-radius: 100%;
		-o-border-radius: 100%;
		-ms-border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 188px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 188px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(1) { animation-delay: -40ms;
		-o-animation-delay: -40ms;
		-ms-animation-delay: -40ms;
		-webkit-animation-delay: -40ms;
		-moz-animation-delay: -40ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) { animation-delay: -80ms;
		-o-animation-delay: -80ms;
		-ms-animation-delay: -80ms;
		-webkit-animation-delay: -80ms;
		-moz-animation-delay: -80ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) { animation-delay: -120ms;
		-o-animation-delay: -120ms;
		-ms-animation-delay: -120ms;
		-webkit-animation-delay: -120ms;
		-moz-animation-delay: -120ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) { animation-delay: -160ms;
		-o-animation-delay: -160ms;
		-ms-animation-delay: -160ms;
		-webkit-animation-delay: -160ms;
		-moz-animation-delay: -160ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) { animation-delay: -200ms;
		-o-animation-delay: -200ms;
		-ms-animation-delay: -200ms;
		-webkit-animation-delay: -200ms;
		-moz-animation-delay: -200ms; }

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
		border-color: rgb(234,71,71);
		height: 169px;
		width: 169px;
		top: 13px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
		border-color: rgb(234,234,71);
		height: 143px;
		width: 143px;
		top: 26px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
		border-color: rgb(71,234,71);
		height: 116px;
		width: 116px;
		top: 39px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
		border-color: rgb(71,234,234);
		height: 90px;
		width: 90px;
		top: 53px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
		border-color: rgb(71,71,234);
		height: 64px;
		width: 64px;
		top: 66px;
}




@keyframes cssload-spin {
		0%, 15% {
		transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spin {
		0%, 15% {
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
		0%, 15% {
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spin {
		0%, 15% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
		0%, 15% {
		-moz-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
 .button1{ 
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family:courier;
  }  
  .button1:hover {background-color: #1464FF}
  



.logo{
  background:url('rocket.png');
  background-size:70% 70%;
  background-repeat:no-repeat;
  width:200px;
  height:75px;
  text-align:left;
  color:white;
  padding:0px;
  font-family:courier;
}

#header {
    background-color:#428bca;
    color:white;
    text-align:left;
    padding:10px;
    margin:0;
    width:auto;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:auto;
    width:auto;
    float:left;
    padding:5px;	     
    font-family:courier;
   
}
#nav ul{
margin:0px;
padding:0px;
}
#nav ul li{
list-style:none;
}
#nav ul li a{
background:#eeeeee;
color:black;
display:block;
padding:5px;
}

#nav a:hover { 
color:#1464FF;
}

#section {
    padding:5px;	
    font-family:courier; 
    width:auto;
}


#capturebar ul {
    list-style-type: none;
    color:white;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
}
#capturebar li {
     float: left;
     border-right:1px solid #bbb;
}
#capturebar li a{
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
#capturebar li a:hover {
     background-color:#428bca;
}
#capturebar select {
font-family:cursive;
font-size:16px;
padding:20px 40x;
}

.button {
    width: 420px;
    margin: 10px auto;
    background: white;
    border-radius: 20px;
}

ul.photos {
    margin: 0;
    padding: 0;
}

ul.photos li {
    width: 50px;
    float: right;
    list-style-type: none;
}

ul.photos li img {
    width: 50px;
    border: 1px solid white;
}

#absorptionbar ul {
    list-style-type: none;
    color:white;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
}
#absorptionbar li {
     float: left;
     border-right:1px solid #bbb;
}
#absorptionbar li a{
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
#absorptionbar li a:hover {
     background-color:#428bca;
}

#footer {
    background-color:transaprent
    color:black;
    clear:both;
    text-align:right;
    height:auto;
    font-family:courier;
    height:200;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
