<!DOCTYPE html>
<head>
<title>spectrocket</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href=' /static/style.css'/>
<link rel="stylesheet" href='/static/bootstrap.min.css'>
<script src="href="/static/jquery.min.js"></script>
<script src="href="/static/bootstrap.min.js"></script>
</head>
<body style="margin:0;">
<div id="header">
  <h1><center>Absorption</center></h1>
</div>

<div id="nav" style="height:600px;width:200px;">
<ul>
<li><a href="capturespectra.html">CaptureSpectra</a></li>
<hr> 
<li><a href="absorption.html">Absorption</a></li> 
<hr>
<li><a href="gallery.html">Gallery</a></li> 
<hr>
<li><a href="about.html">About us</a></li> 
<hr>
<li><a href="/">home</a></li> 
</ul>
<br><br><br><br>
<hr>
<form>
  <input type="text" name="search" placeholder="Search..">
</form>
  </div>
<div id="absorptionbar">

<ul>
<li><a href="#SelectSource">selectSource</a></li>
<li><a href="#newData">Add</a></li>
<li><a href="#CalibrateAbsorption">CalibrateAbsorbance</a></li>
<ul style ="float:right;list-style-type:none;">
  <li><a href="#upload">Upload</a></button></li>
  <li><a href="#Save">Save</a></li>
  </ul>
</ul>

</div>
  
<div id="footer">
<hr>
parmarravi950@gmail.com
</div>

</body>
</html>


