<!DOCTYPE html>
<head>
<title>spectrocket</title>
<link rel="stylesheet" href=' /static/style.css'/>
</head>
<body style="margin:0;">
<div id="header">
  <h1><center>Gallery</center></h1>
</div>

<div id="nav">
<ul>
<li><a href="capturespectra.html">CaptureSpectra</a></li> 
<hr>
<li><a href="absorption.html">Absorption</a></li> 
<hr>
<li><a href="gallery.html">Gallery</a></li> 
<hr>
<li><a href="about.html">About us</a></li> 
<hr>
<li><a href="/">home</a></li> 
</ul>
<br><br><br><br>
<hr>
<form>
  <input type="text" name="search" placeholder="Search..">
</form>
  </div>
<div id="section">
 </div>
  
<div id="footer">
<hr>
parmarravi950@gmail.com
</div>

</body>
</html>


